.library-challenge-results {
    margin-bottom:20px;
}

.library-challenge-add-book {
    background-color: #efefef;
    padding: 12px;
    width: 600px;
}

.library-challenge-add-book div {
    margin: 12px 0 12px 0;
}

.library-challenge-add-book form label {
    font-weight: bold;
    width: 200px;
}

.library-challenge-add-book button {
    background-color: lightblue;
}

.library-challenge-results .bookDiv {
    outline:1px solid #000;
    background-color:ActiveCaption;
    color:#000;
    margin:0 10px;
    padding:0 10px;
}